<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Pages" parallel="methods" thread-count="1">
    <test name="Regression">
        <classes>
            <class name="tests.TestPages.DynamicButtons"/>
            <class name="tests.TestPages.FieldValidation"/>
        </classes>
    </test>
</suite>